/* 本地字体 - Orbitron */
@font-face {
    font-family: 'Orbitron';
    src: url('/static/fonts/orbitron-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Orbitron';
    src: url('/static/fonts/orbitron-medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Orbitron';
    src: url('/static/fonts/orbitron-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Orbitron';
    src: url('/static/fonts/orbitron-black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
